@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Links and Lists Styling */
li,
a{
    list-style: none;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline 1px solid black;
    color: black;
}

/* Typography Styling */
h2,h3,h4,h5,h6{
    font-weight: 300;
    line-height: 2;
}

p{
    text-wrap: balance;
    font-size: min(1rem, 1.5rem);
    font-weight: normal;
    line-height: 1.8;
}

/* Spacing Between Sections */
section{
    padding-top: 8%;
}

footer{
    margin-top: 8%;
}

/* Component Styles */
hr{
    border: 1px solid black;
}