---
import Layout from "../layouts/Layout.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Team from "../components/Team.astro";
import Projects from "../components/Projects.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="ARCHI.">
	<main>
		<ScrollToTop />
		<Hero />
		<About />
		<Team />
		<Projects />
		<Services />
		<Contact />
	</main>
</Layout>

