<!-- Contact -->
<section class="contact" id="contact">
    <div class="container container-md container-lg container-xl container-xxl">
        <h2>Contact Us</h2>
        <hr>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3 class="fw-light mb-4">From stunning designs to captivating landscapes and interiors, we craft spaces with precision and passion. Contact us today to elevate your project.</h3>
                <a href="mailto:mediocrestdev@gmail.com" class="btn btn-outline-dark rounded-5 px-3">LET'S WORK<svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 24"><path fill="none" stroke="#474747" stroke-linecap="round" stroke-linejoin="round" d="M7 7h10m0 0v10m0-10L7 17"></path></svg></a>
            </div>
        </div>
    </div>
</section>