---
const { title } = Astro.props;
---
<!-- Footer -->
<footer class="footer w-100 py-4 position-relative ">
    <div class="container container-md container-lg container-xl container-xxl">
        <hr>
        <div class="row gap-2 gap-lg-0">
            <div class="col-lg-2">
                <a href="/"><p>{title}</p></a>
            </div>
            <div class="col-lg-3 col-md-4 mb-2 mb-lg-0">
                <ul class="ps-0 text-uppercase">
                    <li class="mb-2">Navigation Links</li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 mb-2 mb-lg-0">
                <ul class="ps-0 text-uppercase">
                    <li class="mb-2">Socials</li>
                    <li><a href="/">INSTAGRAM</a></li>
                    <li><a href="/">TWITTER</a></li>
                    <li><a href="/">LINKEDIN</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 flex text-uppercase">
                <ul class="ps-0 text-uppercase">
                    <li class="mb-2">Credits</li>
                    <li>
                        Design inspired by <a
                            href="https://www.behance.net/gallery/111672693/Snoehetta-website-redesgn"
                            target="_blank"
                        >
                            Maxim Soloninkin</a>
                    </li>
                    <li>
                        <a
                            href="mailto:mediocrestdev@gmail.com"
                            >© 2024 Chris Flores</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: 10%;
    }
    
    a:hover{
        text-decoration: underline 1px solid black;
    }
</style>
