---
const {title} = Astro.props
---

<footer class="footer w-100 py-4">
    <div class="container-lg">
        <div class="row gap-2 gap-lg-0 ">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <a href="/"><h3>{title}</h3></a>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <ul class="ps-0">
                    <h3 class="mb-3">Navigation Links</h3>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#projects">PROJECTS</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0">
                <ul class="ps-0">
                    <h3 class="mb-3">Socials</h3>
                    <li><a href="/" target="_blank">FACEBOOK</a></li>
                    <li><a href="/" target="_blank">INSTAGRAM</a></li>
                    <li><a href="/" target="_blank">TWITTER</a></li>
                    <li><a href="/" target="_blank">LINKEDIN</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="mb-3">Credits</h3>
                <a href="https://www.behance.net/gallery/111672693/Snoehetta-website-redesgn" target="_blank">Design inspired by <strong>Maxim Soloninkin</strong></a>
                <a href="/">Cloned & Built by <strong>Mediocrest</strong></a>
            </div>
        </div>

    
    </div>
    
</footer>

<style>
    footer{
        border-top: 1px solid black;
    }
</style>