<header class="hero">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-6 col-lg-7">
				<p>Welcome to ARCHI.</p>
                <h1>
                    We specialize in architectural designs, landscaping concepts, & interior layouts
                </h1>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</header>  

<style>
	@media screen and (min-width:601px) {
		.hero {
	  		background-image: url("/hero-image.webp");
	  		background-attachment: fixed;
	  		background-position: center;
	  		object-fit: cover;
	  		background-repeat: no-repeat;
	  		padding: 12em 0;
		}
	}
	
	@media screen and (max-width:600px) {
		.hero {
	  		background-image: url("/hero-image-mobile.webp");
			background-attachment: fixed;
	  		background-position: center;
	  		object-fit: cover;
	  		background-repeat: no-repeat;
	  		padding: 8em 0;
		}
	}
</style>