---
import { projects } from "../data/project.json";
import ProjectsList from "../components/ProjectsList.astro";
---
<!-- Project -->
<section class="projects" id="projects">
    <div class="container container-md container-lg container-xl container-xxl">
        <h2>Projects</h2>
        <hr />
        <div class="row justify-content-end">
            {projects.map((project) => <ProjectsList {...project} />)}
        </div>
    </div>
</section>
