---
import { Image } from 'astro:assets';
import ArrowUp from "/public/ph_arrow-up-light.svg"
---
<div class="scroll-to-top">
    <a href="#" class="position-fixed border d-none d-lg-block bottom-0 end-0 bg-light rounded-5 p-2 m-2">
        <Image src={ArrowUp} alt="Thin black arrow up"/>
    </a>
</div>