<div
    class="accordion accordion-flush"
    id="accordionFlushExample"
>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
            >
                <h3 class="fw-light">Architectural Designs</h3>
            </button>
        </h2>
        <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
        >
            <div class="accordion-body">
                Our team of experienced architects specializes in crafting innovative and functional
                designs tailored to your unique vision. From concept to construction, we bring your
                dream spaces to life with creativity and precision.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
            >
                <h3 class="fw-light">Landscaping Concepts</h3>
            </button>
        </h2>
        <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
        >
            <div class="accordion-body">
                Transform your interiors with ARCHI's expertly curated layouts. Whether it's a
                residential space, commercial establishment, or hospitality venue, our designers
                combine aesthetics and functionality to create environments that inspire and
                impress. Experience the perfect balance of style and practicality with our interior
                design solutions.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
            >
                <h3 class="fw-light">Interior Layouts</h3>
            </button>
        </h2>
        <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
        >
            <div class="accordion-body">
                Immerse yourself in the beauty of nature with ARCHI's landscaping concepts. From
                lush gardens to tranquil outdoor retreats, our landscape architects design
                harmonious outdoor spaces that complement your property's architecture and enhance
                its overall appeal. Let us create a captivating outdoor environment that reflects
                your taste and lifestyle.
            </div>
        </div>
    </div>
</div>

<style>
    .accordion-button:focus {
        z-index: 3;
        border-color: black;
        outline: 0;
    }

    .accordion-button:not(.collapsed) {
        color: black;
    }
</style>
